@import './src/module/stooges-variables.scss';
@import './src/scss/project-variables.scss';
@import './src/module/stooges-mixin.scss';
@import './src/scss/project-mixin.scss';
@import './src/module/stooges-basscss.scss';
@import './src/scss/project-basscss.scss';
@import './src/scss/fontFamily.scss';
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto+Condensed:400,400i,700,700i');

header{
    position: relative;
    height:$headerHeight;
    z-index:1;
    .areaForFixed{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height:$headerHeight;
        padding:0 38px;
        display: flex;
        background: white;
        .logoLink{
            align-self: flex-end;
            .image{
                height: 30px;
                margin-bottom:12px;
            }
        }
        nav{
            margin-left:70px;
            align-self: flex-end;
            a{
                font-family: $font-family-2;
                padding:12px 15px 10px;
                margin:0 5px;
                font-size: 12px;
                text-transform:uppercase; 
                display: inline-block;
                color:$font-color-1;
                border-bottom: 3px solid transparent;
                &.active,
                &:hover{
                    color:inherit;
                    border-color: $color-main;
                }
            }
        }
    }
    @media #{$breakpoint-down-sm}{
        height:auto;
        .areaForFixed{
            position: relative;
            flex-direction: column;
            align-items: center;
            padding:0 0;
            height:auto;
            .logoLink{
                align-self: auto;
                .image{
                    margin-top:12px;
                    margin-bottom:12px;
                }
            }
            nav{
                margin-left:0;
                align-self: auto;
                a{
                    margin:0 2px;
                    padding:4px 4px 4px;
                }
            }
        }
    }
}

footer{
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 12px 56px;
    font-size: 13px;
    &.fixed{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $footerHeight;
    }
    .copywrite{
        color:white;
        margin-bottom: 0;
    }
    .powered{
        color:white;
        margin-bottom: 0;
    }
    @media #{$breakpoint-down-sm}{
        padding: 8px 16px;
        flex-direction: column;
        justify-content: normal;
        &.fixed{
            position: relative;
            height: auto;
        }
        .powered{
            margin-top: 4px;
        }
    }
}

.homeContent{
    display: grid;
    height: 250vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 16% 16% 16% 16% 36%;
    background: black;
    .box{
        position: relative;
        &:hover{
            .overlay{
                background: rgba(black, 0.15);
            }
        }
        &:nth-of-type(1){
            grid-column: 1 / 3;
            grid-row: 1/ 3;
        }
        &:nth-of-type(3){
            grid-column: 3 / 4;
            grid-row: 2/ 3;
        }
        &:nth-of-type(5){
            grid-column: 1 / 2;
            grid-row: 4/ 5;
        }
        &:nth-of-type(6){
            grid-column: 2 / 4;
            grid-row: 3 / 5;
        }
        %line {
            height: 2px;
            width: 100px;
            background: white;
            margin:16px 0;
        }
        .background{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .overlay{
            position: absolute;
            width:100%;
            height:100%;
            background: rgba(black, 0.6);
            transition: 1s;
        }
        .companyContent{
            position: absolute;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding:$space-2;
            .title{
                color:white;
                line-height: 1.2;
            }
            .line{
                @extend %line;
            }
            .desc{
                color:white;
            }
            .guide{
                color:white;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        .brandContent{
            position: absolute;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding:$space-2;
            text-align: center;
            .brandName{
                color:white;
            }
            .line{
                @extend %line;
                margin-top:0;
                margin-left:auto;
                margin-right:auto;
            }
            .category{
                color:white;
            }
        }
    }
    @media #{$breakpoint-down-sm}{
        height: 360vh;
        grid-template-columns: 1fr;
        // grid-template-rows: repeat(9, 11.11%);
        grid-template-rows: 20% 10% 10% 10% 10% 10% 10% 10% 10%;
        .box{
            &:nth-of-type(1),
            &:nth-of-type(3),
            &:nth-of-type(5),
            &:nth-of-type(6){
                grid-column: auto;
                grid-row: auto;
            }

            &:nth-of-type(1){
                .overlay{
                    background: rgba(black, 0.6);
                }
            }
            .overlay{
                background: rgba(black, 0.15);
            }
            .companyContent{
                padding:$space-2;
                .title{
                    color:white;
                    line-height: 1.2;
                    font-size: $h3;
                }
                .desc{
                    color:white;
                }
                .guide{
                    color:white;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.overlayLoading{
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 2;
    background: white;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s linear;

    &::before{
        content: '';
        animation: rotating 800ms linear infinite;
        border: 2px solid $color-main;
        border-right-color: transparent;
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }

    &.fadeOut{
        opacity: 0;
        visibility: hidden;
    }
}

%slideBar{
    padding-left:$sideNavWidthGtLg;
    padding-bottom: $footerHeight;
    transition: .3s;
    min-height: calc(100vh - 94px);
    border-top:1px solid $color-basic-2;
    @media #{$breakpoint-only-md}{
        padding-left:$sideNavWidthLeMd;
    }
    @media #{$breakpoint-down-sm}{
        padding-left:0;
        padding-bottom: 0;
    }
}
%sideBarArea{
    position: fixed;
    z-index:1;
    width:$sideNavWidthGtLg;
    height:calc(100vh - #{$headerHeight} - #{$footerHeight});
    overflow-y: auto;
    left:0;
    transition: .3s;
    @media #{$breakpoint-only-md}{
        width:$sideNavWidthLeMd;
    }
    @media #{$breakpoint-down-sm}{
        position: relative;
        width:100%;
        height:auto;
    }
}
%sideBarCategoryNav{
    border-top:1px solid $color-basic-4;
    .header{
        padding:6px 16px;
        color:white;
        position: relative;
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
        &[data-open="true"]{
            &:after{ 
                transform: rotate(90deg)
            }
        }
        &.active{
            background: rgba(white, 0.1);
            &:after{ 
                transform: rotate(90deg)
            }
        }
        &:after{
            content: $font-Flaticon-right-arrow;
            font-family: Flaticon;
            float: right;
            font-size: 10px;
            color:$font-color-4;
            transition: .3s;
        }
        &:hover{
            background: rgba(white, 0.1);
        }
    }
    .content{
        display: none;
        overflow: hidden;
        .brand{
            padding:3px 16px 3px 32px;
            display: block;
            color:$font-color-4;
            font-size: 12px;
            &.active,
            &:hover{
                background: rgba(white, 0.1);
                color:white;
            }
            &:nth-of-type(1){
                margin-top:8px;
            }
            &:nth-last-of-type(1){
                margin-bottom:16px;
            }
        }
    }
}
.productContent{
    @extend %slideBar;
    background: $color-secondary-1;
    .productNav{
        @extend %sideBarArea;
        padding-top:100px;
        .category{
            @extend %sideBarCategoryNav;
        }
    }
    .productGallery{
        .image-scale-63by100{
            opacity: 0.5;
            transition: .3s;
            &:hover{
                opacity: 1;
            }
            &:before {
                padding-top: calc(63 / 100 * 100%);
            }
        }
    }
    @media #{$breakpoint-down-sm}{
        .productNav{
            padding-top:16px;
            padding-bottom:16px;
        }
    }
}

.brandBanner{
    height:500px;
    background-image: url('/src/images/brands/banner.jpg');
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 16px;
    border-top:1px solid $color-basic-2;
    .title{
        color:white;
        position: relative;
        line-height: 1.2;
        letter-spacing: 2px;
        word-spacing: 5px;
        text-align: center;
        &:before,
        &:after{
            content:'';
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:1px;
            background: white;
        }
        &:after{
            top:auto;
            bottom:0;
        }
    }
    @media #{$breakpoint-only-sm}{
        height:400px;
        .title{
            font-size: $h2;
        }
    }
    @media #{$breakpoint-only-xs}{
        height:300px;
        .title{
            font-size: 24px;
        }
    }
}

.blockquote{
    padding:32px 0;
    text-align: center;
    .content{
        max-width: 600px;
        margin:auto;
        line-height: 1.2;
        padding:0 40px;
        position: relative;
        &:before{
            content: $font-Flaticon-left-quote;
            font-family: "Flaticon";
            position: absolute;
            top:0;
            left:0;
            color:$color-main;
        }
        &:after{
            content: $font-Flaticon-right-quote;
            font-family: "Flaticon";
            position: absolute;
            bottom:0;
            right:0;
            color:$color-main;
        }
    }
    @media #{$breakpoint-only-xs}{
        .content{
            font-size: $h4;
            padding:0 24px;
        }
    }
}

.brandCollection{
    border-top:1px solid $color-basic-2;
    padding:32px 0;
    .title{
        text-align: center;
        color:$font-color-2;
    }   
    .brandImages{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        img{    
            padding:8px;
            width:100%;
        }
    } 
    @media #{$breakpoint-only-md}{
        .brandImages{
            grid-template-columns: repeat(4, 1fr);
        } 
    }
    @media #{$breakpoint-only-sm}{
        .brandImages{
            grid-template-columns: repeat(3, 1fr);
        } 
    }
    @media #{$breakpoint-only-xs}{
        .brandImages{
            grid-template-columns: repeat(2, 1fr);
        } 
    }
}

.catalogContent{
    @extend %slideBar;
    background: white;
    .catalogNav{
        @extend %sideBarArea;
        padding-top:100px;
        background: $color-secondary-1;
        .allCategory{
            padding:6px 16px;
            color:white;
            cursor: pointer;
        }
        .category{
            @extend %sideBarCategoryNav;
            .header{
                &[data-open="true"]{
                    background: rgba(white, 0.1);//
                }
            }
        }
    }
    .pdfContent{
        padding:32px 32px;
        .row{
            max-width: 1000px;
            .wrap{
                text-align: center;
                img{
                    width:100%;
                    border:1px solid $color-basic-2;
                    margin-bottom: 8px;
                    transition: .3s;
                    &:hover{
                        border-color:$color-main;
                    }
                }
            }
        }
    }
    @media #{$breakpoint-down-md}{
        .pdfContent{
            padding:32px 0;
        }
    }
    @media #{$breakpoint-down-sm}{
        .catalogNav{
            padding-top:16px;
            padding-bottom:16px;
        }
    }
}

.aboutBanner{
    height:500px;
    background-image: url('/src/images/about/banner.jpg');
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding:0 16px;
    text-align: center;
    .subtitle{
        font-style: italic;
        color:white;
    }
    .title{
        color:white;
        position: relative;
        line-height: 1.2;
        letter-spacing: 2px;
        word-spacing: 5px;
        text-align: center;
        margin-bottom: 32px;
    }
    @media #{$breakpoint-only-sm}{
        height:400px;
        .title{
            font-size: $h2;
        }
    }
    @media #{$breakpoint-only-xs}{
        height:300px;
        .title{
            font-size: 24px;
        }
    }
}

.aboutInfo{
    padding:40px 0;
    background: $color-secondary-1;
    text-align: center;
    .title{
        color:white;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .line{
        width: 100px;
        height:1px;
        background: $color-main;
        margin:16px auto;
    }
    .content{
        p{
            color:white;
            margin-bottom: 8px;
        }
    }
}

.contact{
    @extend %slideBar;
    .leftArea{
        @extend %sideBarArea;
        padding:48px 8px 48px 48px;
        background: $color-secondary-1;
        .companyName{
            color:white;
            margin-bottom: 16px;
            font-weight: 700;
        }
        address{
            font-style: normal;
            font-size: 12px;
            margin-bottom:64px;
            .address{
                color:white;
                margin-bottom: 0;
            }
            a{
                display: block;
                color:white;
                &:hover{
                    color:$color-main;
                }
                &.toLocation{
                    margin-bottom: 16px;
                }
                // &.tel{
                // }
                // &.email{
                // }
            }
            .fax{
                display: block;
                color:white;
            }
        }
        .openingHour{
            margin-bottom: 16px;
            color:white;
            font-weight: 700;
        }
        .weekday-time{
            color:white;
            font-size: 12px;
            &:nth-last-of-type(1){
                margin-bottom: 0;
            }
            .weekday{
                display: block;
            }
            .time{
                display: block;
            }
        }
    }
    .rightArea{
        padding:48px 8px 48px 48px;
        .title{
            margin-bottom: 16px;
            font-weight: 700;
        }
        form{
            max-width: 300px;
            margin-bottom:32px;
            label{
                display: block;
                font-size: 13px;
                margin-bottom: 4px;
            }
            input{
                font-family: $font-family-1;
                display: block;
                width:100%;
                padding:6px 10px;
                margin-bottom: 8px;
                border-radius: 0;
                border:1px solid $color-basic-3;
                -webkit-appearance: none;
            }
            textarea{
                font-family: $font-family-1;
                width:100%;
                height: 93px;
                padding:6px 10px;
                border-radius: 0;
                border:1px solid $color-basic-3;
                -webkit-appearance: none;
            }
            .button{
                font-family: $font-family-1;
                letter-spacing: 2px;
                float: right;
                border:none;
                padding:8px 32px;
                color:white;
                transition: .3s;
                background: $color-main;
                cursor: pointer;
                &:hover{
                    background: $color-secondary-1;
                }
            }
        }
    }
    @media #{$breakpoint-only-md}{
        .leftArea{
            padding:48px 16px 48px 16px;
        }
        .rightArea{
            padding:48px 16px 48px 16px;
        }
    }
    @media #{$breakpoint-down-sm}{
        .leftArea{
            padding:24px 8px;
            address{
                margin-bottom:32px;
            }
        }
        .rightArea{
            padding:24px 8px;
            form{
                max-width: 100%;
            }
        }
    }
}


