@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto+Condensed:400,400i,700,700i");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #212121;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #212121;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #212121;
  opacity: 1;
}

::placeholder {
  color: #212121;
  opacity: 1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#modelBrowser {
  display: none;
}

body {
  font-family: "Didact Gothic", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
  color: #212121;
  background-color: white;
  min-width: 315px;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a,
.href {
  color: #8CC63E;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover,
.href:hover {
  color: #bbdd8d;
  text-decoration: none;
}

label {
  white-space: nowrap;
  color: #383838;
}

h1,
.h1 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 55px;
  font-weight: normal;
  color: #212121;
  line-height: 75px;
  letter-spacing: 1;
  margin: 0 0 10px;
}

h2,
.h2 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #212121;
  line-height: 50px;
  letter-spacing: 1;
  margin: 0 0 10px;
}

h3,
.h3 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #212121;
  line-height: 50px;
  letter-spacing: 1;
  margin: 0 0 10px;
}

h4,
.h4 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #212121;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 10px;
}

h5,
.h5 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 9px;
  font-weight: normal;
  color: #212121;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 10px;
}

h6,
.h6 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 9px;
  font-weight: normal;
  color: #212121;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 10px;
}

p {
  font-family: "Didact Gothic", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-weight: 400;
  color: #212121;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 0 1.618em;
}

.bold {
  font-weight: 700;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid #eceeef;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.cursorPointer {
  cursor: pointer;
}

.pre {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.fit {
  width: 100%;
}

.ck img {
  max-width: 100%;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.mxn0 {
  margin-left: -0;
  margin-right: -0;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m1 {
  margin: 8px;
}

.mt1 {
  margin-top: 8px;
}

.mr1 {
  margin-right: 8px;
}

.mb1 {
  margin-bottom: 8px;
}

.ml1 {
  margin-left: 8px;
}

.mx1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mxn1 {
  margin-left: -8px;
  margin-right: -8px;
}

.my1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.p1 {
  padding: 8px;
}

.pt1 {
  padding-top: 8px;
}

.pr1 {
  padding-right: 8px;
}

.pb1 {
  padding-bottom: 8px;
}

.pl1 {
  padding-left: 8px;
}

.px1 {
  padding-left: 8px;
  padding-right: 8px;
}

.py1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m2 {
  margin: 16px;
}

.mt2 {
  margin-top: 16px;
}

.mr2 {
  margin-right: 16px;
}

.mb2 {
  margin-bottom: 16px;
}

.ml2 {
  margin-left: 16px;
}

.mx2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mxn2 {
  margin-left: -16px;
  margin-right: -16px;
}

.my2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p2 {
  padding: 16px;
}

.pt2 {
  padding-top: 16px;
}

.pr2 {
  padding-right: 16px;
}

.pb2 {
  padding-bottom: 16px;
}

.pl2 {
  padding-left: 16px;
}

.px2 {
  padding-left: 16px;
  padding-right: 16px;
}

.py2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m3 {
  margin: 24px;
}

.mt3 {
  margin-top: 24px;
}

.mr3 {
  margin-right: 24px;
}

.mb3 {
  margin-bottom: 24px;
}

.ml3 {
  margin-left: 24px;
}

.mx3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mxn3 {
  margin-left: -24px;
  margin-right: -24px;
}

.my3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.p3 {
  padding: 24px;
}

.pt3 {
  padding-top: 24px;
}

.pr3 {
  padding-right: 24px;
}

.pb3 {
  padding-bottom: 24px;
}

.pl3 {
  padding-left: 24px;
}

.px3 {
  padding-left: 24px;
  padding-right: 24px;
}

.py3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m4 {
  margin: 32px;
}

.mt4 {
  margin-top: 32px;
}

.mr4 {
  margin-right: 32px;
}

.mb4 {
  margin-bottom: 32px;
}

.ml4 {
  margin-left: 32px;
}

.mx4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mxn4 {
  margin-left: -32px;
  margin-right: -32px;
}

.my4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p4 {
  padding: 32px;
}

.pt4 {
  padding-top: 32px;
}

.pr4 {
  padding-right: 32px;
}

.pb4 {
  padding-bottom: 32px;
}

.pl4 {
  padding-left: 32px;
}

.px4 {
  padding-left: 32px;
  padding-right: 32px;
}

.py4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 421px) {
  .sm-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .sm-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .sm-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .sm-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .sm-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .sm-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .sm-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .sm-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .sm-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .sm-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .sm-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .sm-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .md-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .md-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .md-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .md-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .md-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .md-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .md-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .md-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .md-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .md-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .md-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .md-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .lg-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lg-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lg-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .lg-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lg-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lg-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .lg-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lg-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lg-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .lg-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lg-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lg-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1px) and (max-width: 420px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .xs-hide {
    display: none;
  }
  .mxn2 {
    margin-left: -8px;
    margin-right: -8px;
  }
  .mxn2 > .p2 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .container {
    max-width: 520px;
  }
  .sm-hide {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .md-hide {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1364px) {
  .container {
    max-width: 1025px;
  }
  .lg-hide {
    display: none;
  }
}

@media (min-width: 1365px) and (max-width: 9999px) {
  .container {
    max-width: 1170px;
  }
  .xl-hide {
    display: none;
  }
}

[class*='image-scale-'] {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

[class*='image-scale-']:before {
  content: '';
  display: block;
}

[class*='image-scale-'].image-scale-1by1:before {
  padding-top: calc(1 / 1 * 100%);
}

[class*='image-scale-'] iframe,
[class*='image-scale-'] .contain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

[class*='image-scale-'] img.contain {
  -o-object-fit: cover;
     object-fit: cover;
}

router-outlet {
  display: block;
  height: 0;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotating:before {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}

::-moz-selection {
  background: #8CC63E;
  color: #000;
}

::selection {
  background: #8CC63E;
  color: #000;
}

[class*='flaticon-']:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-right-arrow:before {
  content: "\f100";
}

.flaticon-right-quote:before {
  content: "\f101";
}

.flaticon-left-quote:before {
  content: "\f102";
}

@font-face {
  font-family: "Flaticon";
  src: url("./src/fonts/Flaticon.eot");
  src: url("./src/fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("./src/fonts/Flaticon.woff") format("woff"), url("./src/fonts/Flaticon.ttf") format("truetype"), url("./src/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

header {
  position: relative;
  height: 94px;
  z-index: 1;
}

header .areaForFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 94px;
  padding: 0 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

header .areaForFixed .logoLink {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .areaForFixed .logoLink .image {
  height: 50px;
  margin-bottom: 12px;
}

header .areaForFixed nav {
  margin-left: 70px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .areaForFixed nav a {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  padding: 12px 15px 10px;
  margin: 0 5px;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  color: #212121;
  border-bottom: 3px solid transparent;
}

header .areaForFixed nav a.active, header .areaForFixed nav a:hover {
  color: inherit;
  border-color: #8CC63E;
}

@media (max-width: 768px) {
  header {
    height: auto;
  }
  header .areaForFixed {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0;
    height: auto;
  }
  header .areaForFixed .logoLink {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  header .areaForFixed .logoLink .image {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  header .areaForFixed nav {
    margin-left: 0;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  header .areaForFixed nav a {
    margin: 0 2px;
    padding: 4px 4px 4px;
  }
}

footer {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 56px;
  font-size: 13px;
}

footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
}

footer .copywrite {
  color: white;
  margin-bottom: 0;
}

footer .powered {
  color: white;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  footer {
    padding: 8px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  footer.fixed {
    position: relative;
    height: auto;
  }
  footer .powered {
    margin-top: 4px;
  }
}

.homeContent {
  display: -ms-grid;
  display: grid;
  height: 250vh;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 16% 16% 16% 16% 36%;
      grid-template-rows: 16% 16% 16% 16% 36%;
  background: black;
}

.homeContent .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.homeContent .box:hover:before {
  background: rgba(0, 0, 0, 0.15);
}

.homeContent .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 1s;
  transition: 1s;
}

.homeContent .box:nth-of-type(1) {
  background-image: url("/src/images/home/1.jpg");
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ 3;
}

.homeContent .box:nth-of-type(2) {
  background-image: url("/src/images/home/2.jpg");
}

.homeContent .box:nth-of-type(3) {
  background-image: url("/src/images/home/3.jpg");
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
}

.homeContent .box:nth-of-type(4) {
  background-image: url("/src/images/home/4.jpg");
}

.homeContent .box:nth-of-type(5) {
  background-image: url("/src/images/home/5.jpg");
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/ 5;
}

.homeContent .box:nth-of-type(6) {
  background-image: url("/src/images/home/6.jpg");
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.homeContent .box:nth-of-type(7) {
  background-image: url("/src/images/home/7.jpg");
}

.homeContent .box:nth-of-type(8) {
  background-image: url("/src/images/home/8.jpg");
}

.homeContent .box:nth-of-type(9) {
  background-image: url("/src/images/home/9.jpg");
}

.homeContent .box .companyContent .line, .homeContent .box .brandContent .line {
  height: 2px;
  width: 100px;
  background: white;
  margin: 16px 0;
}

.homeContent .box .companyContent {
  position: relative;
  padding: 16px;
}

.homeContent .box .companyContent .title {
  color: white;
  line-height: 1.2;
}

.homeContent .box .companyContent .desc {
  color: white;
}

.homeContent .box .companyContent .guide {
  color: white;
  text-transform: uppercase;
}

.homeContent .box .brandContent {
  position: relative;
  padding: 16px;
  text-align: center;
}

.homeContent .box .brandContent .brandName {
  color: white;
}

.homeContent .box .brandContent .line {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.homeContent .box .brandContent .category {
  color: white;
}

@media (max-width: 768px) {
  .homeContent {
    height: 360vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (11.11%)[9];
        grid-template-rows: repeat(9, 11.11%);
  }
  .homeContent .box:before {
    background: rgba(0, 0, 0, 0.15);
  }
  .homeContent .box:nth-of-type(1), .homeContent .box:nth-of-type(3), .homeContent .box:nth-of-type(5), .homeContent .box:nth-of-type(6) {
    grid-column: auto;
    grid-row: auto;
  }
  .homeContent .box:nth-of-type(1):before {
    background: rgba(0, 0, 0, 0.6);
  }
  .homeContent .box .companyContent {
    position: relative;
    padding: 16px;
  }
  .homeContent .box .companyContent .title {
    color: white;
    line-height: 1.2;
    font-size: 28px;
  }
  .homeContent .box .companyContent .desc {
    color: white;
  }
  .homeContent .box .companyContent .guide {
    color: white;
    text-transform: uppercase;
  }
}

.overlayLoading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: white;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.overlayLoading.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.productContent {
  padding-left: 320px;
  padding-bottom: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  min-height: calc(100vh - 94px);
  background: #212121;
}

.productContent .productNav {
  position: fixed;
  z-index: 1;
  width: 320px;
  height: calc(100vh - 94px - 40px);
  overflow-y: auto;
  left: 0;
  padding-top: 100px;
  -webkit-transition: .3s;
  transition: .3s;
}

.productContent .productNav .category {
  border-top: 1px solid #4c4c4c;
}

.productContent .productNav .category .header {
  padding: 6px 16px;
  color: white;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.productContent .productNav .category .header[data-open="true"]:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.productContent .productNav .category .header.active {
  background: rgba(255, 255, 255, 0.1);
}

.productContent .productNav .category .header.active:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.productContent .productNav .category .header:after {
  content: "";
  font-family: Flaticon;
  float: right;
  font-size: 10px;
  color: #a6a6a6;
  -webkit-transition: .3s;
  transition: .3s;
}

.productContent .productNav .category .header:hover {
  background: rgba(255, 255, 255, 0.1);
}

.productContent .productNav .category .content {
  display: none;
  overflow: hidden;
}

.productContent .productNav .category .content a {
  padding: 3px 16px 3px 32px;
  display: block;
  color: #a6a6a6;
  font-size: 12px;
}

.productContent .productNav .category .content a.active, .productContent .productNav .category .content a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.productContent .productNav .category .content a:nth-of-type(1) {
  margin-top: 8px;
}

.productContent .productNav .category .content a:nth-last-of-type(1) {
  margin-bottom: 16px;
}

.productContent .productGallery .image-scale-63by100 {
  opacity: 0.5;
  -webkit-transition: .3s;
  transition: .3s;
}

.productContent .productGallery .image-scale-63by100:hover {
  opacity: 1;
}

.productContent .productGallery .image-scale-63by100:before {
  padding-top: calc(63 / 100 * 100%);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .productContent {
    padding-left: 242px;
  }
  .productContent .productNav {
    width: 242px;
  }
}

@media (max-width: 768px) {
  .productContent {
    padding-left: 0;
    padding-bottom: 0;
  }
  .productContent .productNav {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.brandBanner {
  height: 500px;
  background-image: url("/src/images/brands/banner.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

.brandBanner .title {
  color: white;
  position: relative;
  line-height: 1.2;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}

.brandBanner .title:before, .brandBanner .title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
}

.brandBanner .title:after {
  top: auto;
  bottom: 0;
}

@media (min-width: 421px) and (max-width: 768px) {
  .brandBanner {
    height: 400px;
  }
  .brandBanner .title {
    font-size: 40px;
  }
}

@media (min-width: 1px) and (max-width: 420px) {
  .brandBanner {
    height: 300px;
  }
  .brandBanner .title {
    font-size: 24px;
  }
}

.blockquote {
  padding: 32px 0;
  text-align: center;
}

.blockquote .content {
  max-width: 600px;
  margin: auto;
  line-height: 1.2;
  padding: 0 40px;
  position: relative;
}

.blockquote .content:before {
  content: "";
  font-family: "Flaticon";
  position: absolute;
  top: 0;
  left: 0;
  color: #8CC63E;
}

.blockquote .content:after {
  content: "";
  font-family: "Flaticon";
  position: absolute;
  bottom: 0;
  right: 0;
  color: #8CC63E;
}

@media (min-width: 1px) and (max-width: 420px) {
  .blockquote .content {
    font-size: 16px;
    padding: 0 24px;
  }
}

.brandCollection .category {
  background: #212121;
}

.brandCollection .category:nth-of-type(1) .header {
  border-top: none;
}

.brandCollection .category .header {
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #4c4c4c;
}

.brandCollection .category .header[data-open="true"] .container:before {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.brandCollection .category .header .container {
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.brandCollection .category .header .container:before {
  content: "";
  font-family: "Flaticon";
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #a6a6a6;
  -webkit-transition: .3s;
  transition: .3s;
}

.brandCollection .category .header .container .title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.brandCollection .category .content {
  display: none;
  overflow: hidden;
}

.brandCollection .category .content .container {
  padding: 32px 0;
}

.brandCollection .category .content .container .wrap {
  padding: 8px;
  display: block;
}

.brandCollection .category .content .container .wrap .image {
  width: 100%;
  display: block;
}

.brandCollection .category .content .container .wrap .companyName {
  color: white;
  text-align: center;
  margin: 4px 0 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .brandCollection .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.aboutBanner {
  height: 500px;
  background-image: url("/src/images/about/banner.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  text-align: center;
}

.aboutBanner .subtitle {
  font-style: italic;
  color: white;
}

.aboutBanner .title {
  color: white;
  position: relative;
  line-height: 1.2;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: 421px) and (max-width: 768px) {
  .aboutBanner {
    height: 400px;
  }
  .aboutBanner .title {
    font-size: 40px;
  }
}

@media (min-width: 1px) and (max-width: 420px) {
  .aboutBanner {
    height: 300px;
  }
  .aboutBanner .title {
    font-size: 24px;
  }
}

.aboutInfo {
  padding: 40px 0;
  background: #212121;
  text-align: center;
}

.aboutInfo .title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
}

.aboutInfo .line {
  width: 100px;
  height: 1px;
  background: white;
  margin: 16px auto;
}

.aboutInfo .content p {
  color: white;
  margin-bottom: 8px;
}

.aboutContent {
  padding-left: 320px;
  padding-bottom: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  min-height: calc(100vh - 94px);
}

.aboutContent .leftArea {
  background: #212121;
  position: fixed;
  z-index: 1;
  width: 320px;
  height: calc(100vh - 94px - 40px);
  overflow-y: auto;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 48px 8px 48px 48px;
}

.aboutContent .leftArea .companyName {
  color: white;
  margin-bottom: 16px;
  font-weight: 700;
}

.aboutContent .leftArea address {
  font-style: normal;
  font-size: 12px;
}

.aboutContent .leftArea address .address {
  color: white;
  margin-bottom: 0;
}

.aboutContent .leftArea address a {
  display: block;
  color: white;
}

.aboutContent .leftArea address a:hover {
  color: #8CC63E;
}

.aboutContent .leftArea address a.toLocation {
  margin-bottom: 16px;
}

.aboutContent .leftArea .openingHour {
  margin-top: 64px;
  margin-bottom: 16px;
  color: white;
  font-weight: 700;
}

.aboutContent .leftArea .weekday-time {
  color: white;
  font-size: 12px;
}

.aboutContent .leftArea .weekday-time:nth-last-of-type(1) {
  margin-bottom: 0;
}

.aboutContent .leftArea .weekday-time .weekday {
  display: block;
}

.aboutContent .leftArea .weekday-time .time {
  display: block;
}

.aboutContent .rightArea {
  padding: 48px 8px 48px 48px;
}

.aboutContent .rightArea .title {
  margin-bottom: 16px;
  font-weight: 700;
}

.aboutContent .rightArea form {
  max-width: 300px;
  margin-bottom: 32px;
}

.aboutContent .rightArea form label {
  display: block;
  font-size: 13px;
  margin-bottom: 4px;
}

.aboutContent .rightArea form input {
  font-family: "Didact Gothic", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  display: block;
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 8px;
}

.aboutContent .rightArea form textarea {
  font-family: "Didact Gothic", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  width: 100%;
  height: 93px;
  padding: 6px 10px;
}

.aboutContent .rightArea form .button {
  font-family: "Didact Gothic", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  letter-spacing: 2px;
  float: right;
  border: none;
  padding: 8px 32px;
  background: #212121;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.aboutContent .rightArea form .button:hover {
  background: #8CC63E;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .aboutContent {
    padding-left: 242px;
  }
  .aboutContent .leftArea {
    width: 242px;
    padding: 48px 16px 48px 16px;
  }
  .aboutContent .rightArea {
    padding: 48px 16px 48px 16px;
  }
}

@media (max-width: 768px) {
  .aboutContent {
    padding-left: 0;
    padding-bottom: 0;
  }
  .aboutContent .leftArea {
    position: relative;
    width: 100%;
    height: auto;
    padding: 24px 8px;
  }
  .aboutContent .leftArea .openingHour {
    margin-top: 32px;
  }
  .aboutContent .rightArea {
    padding: 24px 8px;
  }
  .aboutContent .rightArea form {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */